{% extends 'AppBundle:Principal:body.html.twig' %}

{% block title %}  Autorizar Denominaciones {% endblock %}
{% block content %}
          <div class="fiscales col-sm-4" id='mensaje'></div>
          <div class="clearfix"></div>
            <table id="fiscales" class="table table-bordered">
                <thead>
                    <tr> 
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Punto</th>
                        <th>Cajero</th>
                        <th>Efectivo</th>
                        <th>Motivo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>            
    {% include 'AppBundle:Cajero:modalAutorizar.html.twig' %}
    {% include 'AppBundle:Cajero:modalRemove.html.twig' %}

{% endblock %}

