# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt

    database_sql_host: 192.168.6.230
    database_sql_port: 1433
    database_sql_name: null
    database_sql_user: interfase_user
    database_sql_password: 1nt3rf4s3us3r

    database_mysql_host: phptest.comfamiliar.com
    database_mysql_port: null
    database_mysql_name: cierre_aloha
    database_mysql_user: cierredev
    database_mysql_password: KcppE3f8UJhLf75a
    
    database_db2_host: 127.0.0.1
    database_db2_port: null
    database_db2_name: null
    database_db2_odbc: PROD
    database_db2_user: crm
    database_db2_password: tres2uno

    #database_host:     127.0.0.1
    #database_port:     ~
    #database_name:     symfony
    #database_user:     root
    #database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    #mailer_transport:  smtp
    #mailer_host:       127.0.0.1
    #mailer_user:       ~
    #mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    #secret:            ThisTokenIsNotSoSecretChangeIt
