{% extends 'AppBundle:Principal:body.html.twig' %}

{% block title %} Interface Inventario{% endblock %}
{% block content %}
    <div class="col-lg-4">
       <form name="interfaceInventario" id="interfaceInventario" action="" class="form-inline" role="form">
            <div class='form-group'>
                <label for="fecha" class="required">Fecha</label>
                <input type="text" id="fecha" name="fecha" required="required" class="js-datepicker-inventario form-control">
                <input type="hidden" id="username" name="username" value="{{app.user.username}}">
            </div>
            <div class='form-group'>
                <button type="button" id="btn-interfaceInventario" name="btn-interfaceInventario" class="form-submit btn btn-primary btn-sm">
                    <i id="download-icon" class="fa fa-download" aria-hidden="true"></i><i id="time-icon" class="far fa-clock hidden fa-spin"></i>Generar
                </button>
            </div>
        </form>
        </br>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-4" id='mensaje'></div>

    <div class="table-responsive-sm" id="divtabledetalle" >
    
    </div>

    <div id="datatable-existencias">
        <table id="existencias" class="table table-bordered oculto existencias">
            <thead>
                <tr> 
                    <th>Bodega</th>                   
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Existencias JDE</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>  

    <div id="datatable-articulo">
        <table id="articulo" class="table table-bordered oculto articulo">
            <thead>
                <tr> 
                    <th>Bodega</th>                   
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div id="datatable-unidadMedida">
        <table id="unidadMedida" class="table table-bordered oculto unidadMedida">
            <thead>
                <tr> 
                    <th>Bodega</th>                   
                    <th>Descripcion</th>
                    <th>unidadMedidaProducto</th>
                    <th>unidadMedidaMovimiento</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>   

    <div id="datatable-categoria">
        <table id="categoria" class="table table-bordered oculto categoria">
            <thead>
                <tr> 
                    <th>Bodega</th>                   
                    <th>Descripcion</th>
                    <th>categoriaJDE</th>
                    <th>categoriaProducto</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>   

    <div id="datatable-bodegas">
        <table id="bodegas" class="table table-bordered oculto bodegas">
            <thead>
                <tr> 
                    <th>Bodega</th>                   
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>   

    <div id="datatable-fechaContable">
        <table id="fechaContable" class="table table-bordered oculto fechaContable">
            <thead>
                <tr> 
                    <th>Bodega</th>                   
                    <th>Descripcion</th>
                    <th>periodoActivo</th>
                    <th>fechaMovimiento</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>  

    <div id="datatable-validacionUnidadesMedida">
        <table id="validacionUnidadesMedida" class="table table-bordered oculto validacionUnidadesMedida">
            <thead>
                <tr> 
                    <th>Bodega</th>                   
                    <th>IdKardex</th>                   
                    <th>IdProducto</th>
                    <th>IDFormula</th>
                    <th>IdUndMed</th>
                    <th>IdUndMedOrigen</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>   
         

{% endblock %}
