{% extends 'AppBundle:Principal:body.html.twig' %}

{% block title %} Reporte Productos{% endblock %}
{% block content %}
       <form name="productos" id="productos" action="" method="" class="form-inline" role="form">
            <div class='form-group'>
                <label for="fecha" class="required">Desde</label>
                <input type="text" id="desde" name="desde" required="required" class="js-datepicker form-control">
            </div>
            <div class='form-group'>
                <label for="fecha" class="required">Hasta</label>
                <input type="text" id="hasta" name="hasta" required="required" class="js-datepicker form-control">
            </div>
            <div class='form-group'>
                <button type="button" id="btn-productos" name="btn-productos" class="form-submit btn btn-primary btn-sm">
                <i id="download-icon" class="fa fa-download" aria-hidden="true"></i><i id="time-icon" class="far fa-clock hidden fa-spin"></i> Buscar</button>
            </div>
        </form>    
    <div class="clearfix"></div>
    </br>
        <div id="datatable-productosvendidos">
            <table id="productosvendidos" class="table table-bordered">
                <thead>
                    <tr> 
                        <th>Fecha</th>
                        <th>Cajero</th>                   
                        <th>Punto</th>
                        <th>Item</th>
                        <th>Descripcion</th>
                        <th>Impuesto</th>
                        <th>Cantidad </th>
                        <th>Total </th>
                    </tr>
                </thead>
            </table>
        </div>   
{% endblock %}
