{% extends 'AppBundle:Principal:body.html.twig' %}

{% block title %} Parque Recreacional{% endblock %}
{% block content %}
    <div class="col-lg-6">
        <h2 style="font-size:14px;">GENERAR REPORTE RESERVAS ENTRADAS,PARQUEADERO Y RESTAURANTES</h2>
        <div class="clearfix"></div>
       <form name="form-reservas" id="form-reservas" action=""  class="form-inline" role="form">
            <div class='form-group'>
                <label for="fecha" class="required">Fecha</label>
                <input type="text" id="fecha-reserva" name="fecha-reserva" required="required" class="js-datepicker form-control">
            </div>
            <div class='form-group'>
                <button type="button" id="btn-reservas" name="btn-reservas" class="form-submit btn btn-primary btn-sm">
                     <i id="download-icon" class="fa fa-download" aria-hidden="true"></i><i id="time-icon" class="far fa-clock hidden fa-spin"></i>Generar
                </button>
            </div>
        </form>
    </div>
    <div class="clearfix">
    </div>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="chart-entradas-reservas"></canvas>
        </div>
        <div class="col-lg-6">
             <canvas id="chart-parqueadero-reservas"></canvas>
        </div>
        <div class="col-lg-8">
             <canvas id="chart-restaurantes-reservas"></canvas>
        </div>
    </div>
{% endblock %}
